@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&family=Raleway&display=swap');

:root{
    --heading-font: "Raleway", Helvetica, sans-serif;
    --paragraph-font: "Manrope", Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
}

img{
    max-width: 100%
}

p{
    max-width: 70ch;
    margin-left: auto;
    margin-right: auto;  
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #3A5A40;
    padding: 0;
    font-size: 22px;
    font-family: var(--paragraph-font);
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: #67A1E0;
}

nav a:hover{
    color: #BAC9C4;
    background-color: #67A1E0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#hero-msg, #hero-box{
    grid-column: 1;
    grid-row: 1;
}

.home-title{
    text-align: center;
    background-color: rgba(255,255,255,.6);
    color: #3A5A40;
    max-width: 90%;
    margin: auto;
}

#hero-img{
    width:100%;
    padding-left: 1em;
    padding-right: 1em;
}

.main-p{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    color: #BAC9C4;
}

.about-p, .services-p{
    text-align: center;
    color: #BAC9C4;
}

.services-img, .about-img{
    margin: 50px;
}

.about-title, .services-title{
    text-align: center;
    color: #67A1E0;
}

#chairs-msg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(255,255,255,.15);
    max-width: 90%;
    margin: auto;
}

.about-img{
    width: 325px;
    grid-column: 2/3;
    border-radius: 20%;
}

.chairs-img{
    border: 10px solid #67A1E0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #BAC9C4;
    border-radius: 20%;
}

.chairs-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

.frontyard-img{
    border: 10px solid #67A1E0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #BAC9C4;
    border-radius: 20%;
}

.frontyard-img:hover{
    opacity: .6;
    transform: scale(1.1);
}

 .services-img{
     width: 325px;
     grid-column: 4/5;
 }

 .learn-more {
     color: #67A1E0;
 }

 .button-box{
     text-align: center;
 }

 footer .social img{
     width: 50px;
     border-radius: 40%;
 }

 footer{
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright{
    color: #BAC9C4;
}

.services-link, .about-link{
    color: #67A1E0;
}

#hero-img{
    width: 100%;
    height: 400px;      
}

#hero{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.aboutus-title{
    text-align: center;
    background-color: rgba(255,255,255,.6);
    color: #3A5A40;
    max-width: 90%;
    margin: auto;
}

.hlc{
    padding: 1em;
    background-color: antiquewhite;
    max-width: 90%;
    margin: 1em auto;
}


.brooke{
    display: grid;
    grid-template-columns: repeat(11, 143px);
    grid-template-rows: repeat(5, 115px);
}

#about-img{
    grid-column: 2/6;
    grid-row: 1/2;
    padding: 1em;
    border: 10px solid #67A1E0;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #3A5A40;
    border-radius: 20%;
}

.about-p1{
    grid-column: 5/10;
    grid-row: 2/5;
    text-align: center;
    color: #BAC9C4;
    background-color: rgba(56,50,53,.6);
    padding: 1em;
    z-index: 1;
}

.about-p2{
    grid-column: 2/11;
    grid-row: 2/3;
    color: #BAC9C4;
    text-align: center;
    padding: 1em;
    background-color: rgba(56,50,53,.6);   
}

.card-img{
    width: 100%;
    border: 10px solid #BAC9C4;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #67A1E0;
    border-radius: 20%;
}

.service-head{
    background-color: rgba(255,255,255,.6);
}

.main-grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    background-color: antiquewhite;
    max-width: 90%;
    margin: auto;
    padding: 1em;
}

/* .lawn-card{
    grid-column: 1/2;
    padding-left: 1em;
}

.snow-card{
    grid-column: 2/3;
}

.fall-card{
    grid-column: 3/4;
}

.spring-card{
    grid-column: 7/8;
}

.fertilizer-card{
    grid-column: 1/2;
    padding-left: 1em;
}

.aerating-card{
    grid-column: 3/4;
}

.landscape-card{
    grid-column: 5/6;
}

.trees-card{
    grid-column: 7/8;
} */

h4{
    text-align: center;
}

p{
    text-align: center;
}

@media screen and (max-width: 600px) {
    .main-grid{
        display: block;
    }

    .brooke{
        display: block;
    }

    #chairs-msg{
        display: block;
    }

    footer{
        display: block;
    }
}