*{
    box-sizing: border-box;
}

img{
    max-width: 100%
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    align-items: center;
}

body{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #3A5A40;
    padding: 0;
    font-size: 22px;
    font-family: var(--paragraph-font);
}

nav{
    display: flex;
    justify-content: space-around;
}

nav a{
    color: #BAC9C4;
}

nav a:hover{
    color: #BAC9C4;
    background-color: #67A1E0;
}

#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

#hero{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

#hero-msg, #hero-box{
    grid-column: 1;
    grid-row: 1;
}

.home-title{
    text-align: center;
    background-color: rgba(255,255,255,.6);
}

#hero-img{
    width:100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-right: 1em
}

.main-p{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    color: #67A1E0;
}

.about-p, .services-p{
    text-align: center;
    color: #67A1E0;
}

.services-img, .about-img{
    margin: 50px;
}

.about-title, .services-title{
    text-align: center;
    color: black;
}

#chairs-msg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgba(255,255,255,.15);
}

.about-img{
    width: 325px;
    grid-column: 2/3;
}

 .services-img{
     width: 325px;
     grid-column: 4/5;
 }

 .learn-more {
     color: #BAC9C4;
 }

 .button-box{
     text-align: center;
 }

 footer .social img{
     width: 50px;
     border-radius: 40%;
 }

 footer{
    padding: 25px 50px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.copyright{
    color: #67A1e0;
}

.services-link, .about-link{
    color: #BAC9C4;
}